@{
    ViewBag.Title = "MRI Upload";
}

<div id="altImage">
    <img style="width:100%;height: 600px;" src="~/Content/full_body_mri.jpg" alt="" />
</div>

<div class="row">
    <div class="text-center" style="margin-top:20px">
        @Html.ActionLink("Submit new MRI scan", "Create", "MRIImages", new { @class = "btn btn-primary" })
    </div>
</div>