@{
    ViewBag.Title = "MRI Upload";
}

<div id="altImage">
    <img style="width:100%;height: 600px;" src="~/Content/full_body_mri.jpg" alt="" />
</div>

<div class="row">
    <div class="text-center">
        <form style="display: inline-block; margin-left: auto;margin-right: auto;text-align: left;"
              action="" method="post" enctype="multipart/form-data">
            <label style="margin-bottom:10px;margin-top:20px;font-size:20px" for="file">Upload Full Body MRI</label>
            <input style="margin-bottom:5px" type="file" name="file" id="file" />

            <input class="btn btn-primary" type="submit" />
        </form>
    </div>
</div>